/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #4bdbf8;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
} 
/*hero*/
.hero img { 
    width: 110px;
    height: auto;

}
.hero {
    display: flex;
align-items: center; 
gap: 15px; 
justify-content: center;
}


header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

header nav a:hover {
    text-decoration: underline;
}

/* hero */
.hero {
    text-align: center;
    padding: 20px;
    background-color: #2fc7c9;
}

/* Servicios */
.servicios {
    padding: 20px;
    background-color: #4cd1ad;
}

.servicio {
    background-color: whitesmoke;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
}

.servicio summary {
    font-weight: bold;
    cursor: pointer;
}

/* Quiénes somos */
.quienes-somos {
    padding: 20px;
    text-align: center;
}



/* Contacto */
.contacto {
    padding: 20px;
    background-color: #73d5e2;
}

.contacto form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.contacto input, .contacto textarea, .contacto button {
    margin: 5px 0;
    padding: 10px;
}

.contacto button {
    background-color: #08404e;
    color: white;
    border: none;
    cursor: pointer;
}

.contacto button:hover {
    background-color: #0e819b;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

footer .redes a {
    color: #4dcdff;
    text-decoration: none;
}

footer .redes a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    header nav {
        margin-top: 10px;
    }
}
